<div class="container">
  <div class="row">
    <h4>Allow me to guide you, my friend :)</h4><br><br>

    <div class="fillform">
      <div class="col">
        
          
        <p>Say, what do you identify as?</p>
        <div class="btn-group">
          <input mdbRadio type="radio" class="btn-check" name="selectGender" [(ngModel)]="selectedGender" value="female" id="option1" />
          <label class="btn" for="option1">Female</label>

          <input mdbRadio type="radio" class="btn-check" name="selectGender" [(ngModel)]="selectedGender" value="male" id="option2" />
          <label class="btn" for="option2">Male</label>
        </div>

        <p>What vibe are you going for?</p>
        <div class="btn-group">
          <input mdbRadio type="radio" class="btn-check" name="selectVibe" [(ngModel)]="selectedVibe" value="casual" id="option3" />
          <label class="btn" for="option3">Casual</label>

          <input mdbRadio type="radio" class="btn-check" name="selectVibe" [(ngModel)]="selectedVibe" value="funky" id="option4" />
          <label class="btn" for="option4">Funky</label>
        </div>

        <!-- <p>Say, what do you identify as?</p>
        <select name="selectGender" [(ngModel)]="selectedGender">
          <option value="female">female</option>
          <option value="male">male</option>
        </select>

        <br>
        <p>What vibe are you going for?</p>
        <select name="selectVibe" [(ngModel)]="selectedVibe">
          <option value="casual">casual</option>
          <option value="funky">funky</option>
        </select> -->

        <br>
        <p>What is the occasion?</p>
        <input type="text" [formControl]="occasion">
      </div>

      <button (click)="calc('', selectedGender)" id="submitFillForm" class="mt-3">Submit</button>
    </div>
  </div>

  <div *ngIf="response" class="answer-box">
    <p>My supreme suggestion would be: <b>{{ response }}</b>. But you do you!</p><br>
    <p>Here's more ideas (visual):</p><br>
    <div class="row">
      <div *ngFor="let piece of chosen_outfit" class="col p-2">
        <img [src]="piece" alt="outfit" class="img-fluid w-100"><br>
        <a id="googleSimilar" [href]="'https://www.google.com/searchbyimage?image_url=' + piece + '&client=app'" target="_blank">
          Find similar online
        </a>
        <br>
      </div>
    </div> 
    
    <button (click)="calc(sendAgain, 'WOMEN')" id="doAgain" class="mt-5">Do again!</button>
  </div>

</div>