.container {
    text-align: center;
    padding: 100px;
    font-family: "Playwrite IT Moderna", cursive;
}

textarea {
    width: 50%;
}

.answer-box {
    /* margin-top: 50px; */
    padding: 20px;
    /* background-color: pink; */
    border-radius: 10px;
    /* padding: 100px; */
}

#doAgain, #aiSearch, #googleSimilar, #amazonSimilar {
    padding: 15px;
    background-color: purple;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    font-family: 'snippers', sans-serif;
    letter-spacing: 1px;
    /* font-size: large; */
    
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-bottom: 5px solid rgba(255, 194, 204, 0.5);
    border-right: 5px solid rgba(255, 194, 204, 0.7);
}

#doAgain.selected, #aiSearch.selected, #googleSimilar.selected, #amazonSimilar.selected {
    border-bottom: 5px solid rgba(255, 194, 204, 0.5);
    border-right: 5px solid rgba(255, 194, 204, 0.7);
}

#doAgain:active, #aiSearch:active, #googleSimilar:active, #amazonSimilar:active {
    border: 0;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}