<div class="container">
    <p>Hi friendddd, how's it going &lt;3</p>
    <p>Look who's obsessed with me (¬_¬") </p>
    <p>Just kidding!  Let's find you an outfit okayyyy</p>
    <div class="row" id="choice">
        <div class="box col">
            <button [routerLink]="['/askai']">ask ai (go crazy!)</button>
        </div>
        <div class="box col">
            <button [routerLink]="['/fillform']">fill a guided form</button>
        </div>
    </div>

    <!-- <img src="/avatar.png"> -->
</div>